<p>login works!</p>
<div class="main-layout-container">
    <!-- <div class="login-container"> -->
        <div class="logo">
            <h1>
                <a href="#">
                    <i class="fas fa-check-circle logo-icon"></i>
                    <span>Pomofocus</span>
                </a>
            </h1>
            <span class="login-name">Login</span>
        </div>
        <div class="login-form-section">
            <div class="login-form">
                <div class="login-with-google">
                    <button class="login-with-google-btn"></button>
                </div>
                <div class="">
                    <form >
            
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>